<a href="https://colab.research.google.com/github/Ishank2301/Comprehensive-ML-Handbook/blob/main/Group_PRoject_nlp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('cleaned_resumes.csv')
df.head()

,candidate_id,name,gender,age,location,education_level,college_tier,CGPA,experience_years,employment_gap_years,skills,certifications,resume_text,resume_score,selected,hiring_manager_id
0,00818b63-99fd-4e05-9437-d0088c11ad94,Allison Hill,Female,21,Delhi,B.Sc,Tier 2,7.09,6.7,0.0,SQL;Python;Pandas;PyTorch;Java;GCP,AWS Certified;Oracle Certified,Name: Allison Hill. Ahead despite measure. Nig...,64.13,1,HM_11
1,b5f7b271-ea50-4ba1-9b41-8ccd7208d6fb,Jerry Ramirez,Female,31,Delhi,B.Sc,Tier 2,5.85,4.3,0.0,NumPy;Django;Power BI;NLP;Kubernetes;C++,NaN,Name: Jerry Ramirez. Democratic shake bill her...,45.30,0,HM_24
2,9c555eb2-425c-4c75-b790-75aad85cdec1,Gregory Baker,Female,43,Hyderabad,B.Tech,Tier 2,7.58,5.8,2.0,C++;CSS;CI/CD;Tableau;Django;TensorFlow,PMP,Name: Gregory Baker. Stop peace technology off...,54.05,1,HM_41
3,39faa113-0515-4c9a-9696-c6b22534423e,Sharon James,Female,28,Chennai,MCA,Tier 3,5.00,0.2,2.0,Flask;C++;Pandas;PyTorch;Computer Vision,SQL Certification;PMP,Name: Sharon James. Participant commercial roc...,28.77,0,HM_35
4,8da1d48a-df75-48b2-8415-c6c4f596e17c,William Bowman,Male,39,Kolkata,B.E,Tier 2,7.80,2.1,0.0,Power BI;NumPy;Scikit-learn,GCP Professional;SQL Certification,Name: William Bowman. Husband at tree note res...,48.67,0,HM_1

#### Checking the column

In [ ]:
df['resume_text']

0       Name: Allison Hill. Ahead despite measure. Nig...
1       Name: Jerry Ramirez. Democratic shake bill her...
2       Name: Gregory Baker. Stop peace technology off...
3       Name: Sharon James. Participant commercial roc...
4       Name: William Bowman. Husband at tree note res...
                              ...
4995    Name: Teresa Thomas. Program present under cou...
4996    Name: Kristina Williams. Hotel hear mind way a...
4997    Name: Autumn Flores. Until husband scene popul...
4998    Name: Jade Johnson. Still authority vote exper...
4999    Name: Mark Lee. Character quite treat produce ...
Name: resume_text, Length: 5000, dtype: str

#### LowerCaseing

In [ ]:
# text normalization
df['resume_text_clean'] = df['resume_text'].str.lower()
df['resume_text_clean']

0       name: allison hill. ahead despite measure. nig...
1       name: jerry ramirez. democratic shake bill her...
2       name: gregory baker. stop peace technology off...
3       name: sharon james. participant commercial roc...
4       name: william bowman. husband at tree note res...
                              ...
4995    name: teresa thomas. program present under cou...
4996    name: kristina williams. hotel hear mind way a...
4997    name: autumn flores. until husband scene popul...
4998    name: jade johnson. still authority vote exper...
4999    name: mark lee. character quite treat produce ...
Name: resume_text_clean, Length: 5000, dtype: str

#### Removing stopwords

In [ ]:
# load stopwords
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words=set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\harsh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
# remove stopwords
'''
    |-> split sentence
    |-> remove words in stopwords
    |-> jon back to sentence
'''
def remove_stopwords(text):
    words=text.split()
    filtered_words = [word for word in words if word not in stop_words]
    return " ".join(filtered_words)

In [ ]:
df['resume_text_clean'] = df['resume_text_clean'].apply(remove_stopwords)
df['resume_text_clean'].head(2)

0    name: allison hill. ahead despite measure. nig...
1    name: jerry ramirez. democratic shake bill her...
Name: resume_text_clean, dtype: str

### TF-IDF

In [ ]:
'''
    TF: How often a word appears in a resume

    IDF: Penalizes words that appear in every resume

    Result: important skills get higher weight
'''

'\n    TF: How often a word appears in a resume\n\n    IDF: Penalizes words that appear in every resume\n\n    Result: important skills get higher weight\n'

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf = TfidfVectorizer(
    max_features=300
)

In [ ]:
X_tfidf = tfidf.fit_transform(df['resume_text_clean'])

In [ ]:
tfidf.get_feature_names_out()[:20]

array(['02', '03', '04', '11', '12', '13', '14', '15', '16', '17', '18',
       '19', '21', '24', '26', '27', '29', '31', '32', '34'], dtype=object)

In [ ]:
# stopwords are removed but column still have numbers and tfidf learns number as a valid token

# that's why it is giving number in above command

In [ ]:
# removing numbers
import re

def remove_numbers(text):
    return re.sub(r'\d+', ' ', text)

In [ ]:
df['resume_text_clean'] = df['resume_text_clean'].apply(remove_numbers)

In [ ]:
tfidf = TfidfVectorizer(max_features=300)
X_tfidf = tfidf.fit_transform(df['resume_text_clean'])

In [ ]:
tfidf.get_feature_names_out()[:20]

array(['action', 'added', 'agent', 'aggregate', 'and', 'applications',
       'architect', 'architectures', 'art', 'article', 'aws', 'azure',
       'back', 'bandwidth', 'bca', 'behavior', 'benchmark', 'best', 'bi',
       'bleeding'], dtype=object)